streamlit==1.26.0
transformers==4.39.3
tokenizers==0.15.2
huggingface-hub==0.19.4
torch==2.1.2
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
